<!DOCTYPE html>
<html lang="en">
<head>
    <title>LMS Activation Mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">
        /* Base */
        body{
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #fafafa;
            color: #222222;
        }
        a{
            color: black;
            text-decoration: none;
        }
        h1{
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 15px;
        }
        p{
            margin-top: 0;
            margin-bottom: 24px;
        }
        table td{
            vertical-align: top;
        }
        /* layout */
        .email-wrapper{
            min-width: 600px;
            margin: 0 auto;
        }
        .email-header{
            background-color: #0070f3;
            padding: 24px;
            color:#ffffff;
        }
        .email-body{
            padding: 24px;
            background-color: #ffffff;
        }
        .email-footer{
            background-color: #f6f6f6;
            padding: 24px;
        }

        /* buttons */
        .button {
            background-color: #0070f3;
            color: #ffffff;
            display: inline-block;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            text-decoration: none;
            padding: 12px 24px;
            border-radius: 4px;
        }
    </style>
</head>
<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Welcome to my LMS</h1>
        </div>
        <div class="email-body">
            <p>Hello <%= user.name %>,</p>
            <p>Thank you for registering on our LMS. please use the following activiting code</p>
            <h2><%= activationCode %></h2>
            <p>please enter the code on the activation page within the next 5 munites.</p>
            <p>if u did not register for our lms accunt, please ignore this mail.</p>
        </div>
        <div class="email-footer">
            <p>If you have any questions, please don't hesitate to contact us at <a href="matilo:subhamkundu.bankura12@gmail.com">subhamkundu.bankura12@gmail.com</a></p>
        </div>
    </div>
</body>
</html>